<ion-content class="ion-padding login-background">
  <div class="login-container">
    <img src="assets/img/IconoRiego.png" alt="Logo" class="logo">
    <h1 class="titulo">Registrese en Aquarelle</h1>
    <p class="subtitulo">Ingrese sus datos porfavor</p>

    <ion-list class="login-box">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="nombre" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmar contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="confirmar" required></ion-input>
      </ion-item>
      
    </ion-list>

    <ion-button expand="block" class="botonIni" (click)="register()">Crear cuenta</ion-button>
    <ion-text color="medium">
      <p class="forgot-password" (click)="goToLogin()">Volver al login</p>
    </ion-text>
  </div>
  <div class="containerPlanta">
    <img src="assets/img/planta6.jpg" alt="Logo" class="planta">
  </div>
  <div class="containerPlantaTop">
    <img src="assets/img/planta7.jpg" alt="Logo" class="planta-top">
  </div>
</ion-content>
